<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">               
        <a class="pure-menu-heading" href="" style="text-decoration:none; font-family:grid Sans; font-size:3em; padding:0px;">GRIDSOFT</a>                                 
            <ul class="pure-menu-list trata-botao" style="margin-top:1em; margin-right:1em">
                <li>
                    <button class="pure-button">Cadastre seu Pedido</button>
                </li>
            </ul>                   
    </div>
</div>

<div class="splash-container">    
    <div class="bg-img2">
    <div class="splash">
        <h2 style="color:white">Contrate o melhor serviço para <br/>
            produzir suas aplicações</h2>
        <h4 style="text-transform: none; color:white; font-weight:100; padding-top:15px; line-height:1.3">
            Nós criamos sites, aplicativos, sistemas em <br/>
            versões desktop, web e mobile, com preço que cabe<br/>
            no seu bolso e as tecnologias mais modernas do mercado!
        </h4>
        <p style="color:white; text-align:left; text-transform: none;">
            <a href="http://purecss.io" class="pure-button pure-button-primary" style="margin-top:3em; text-transform: none; text-decoration:none">Criar Pedido</a>                        
        </p>
    </div>
    </div>

</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Como Funciona?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Criando seu Pedido
                </h3>
                <p>
                    Crie um pedido clicando AQUI ou através de outros botões espalhados nessa página, preencha o formulário descrevendo o que você precisa, qual o seu problema ou projeto que tem em mente, descreve se vai querer a solução como aplicativo, desktop ou multiplataforma, e nós vamos encaminhar para seu e-mail uma proposta para desenvolver sua solução!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Tecnologias
                </h3>
                <p>
                    Vamos utilizar tecnologias conhecidas do mercado para trazer a melhor experiência para sua solução!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Garantia
                </h3>
                <p>
                    Se aceitar em desenvolver sua solução junto com a gente, após a entrega faremos uma validação em cada ponto do que foi desenvolvido para ver se atendeu aos requisitos do seu pedido, para garantir uma entrega 100% eficiente!<br/>
                    Caso você se arrependa após o término do desenvolvimento devolvemos no mínimo 50% do valor investido por você!
                </p>
            </div>            
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-address-book"></i>
                    Responsabilidade
                </h3>
                <p>
                    Somos transparentes em nossos serviços e temos canais de comunicação abertos para você nos chamar quando quiser, nossos contatos são:                                        
                </p>
                <ul class="pure-menu-list">
                    <li><i class="fa fa-facebook fa-lg"></i><a href="http://facebook.com/gridsoft">  Facebook - Gridsoft</a></li>
                    <li><i class="fa fa-whatsapp fa-lg"></i><a target="_blank" href="https://api.whatsapp.com/send?phone=5547992011743&text=Escreva%20sua%20mensagem%20para%20gridsoft%20:)"> Whatsapp: (47) 9.9201-1743</a></li>
                </ul>
            </div>            
        </div>
    </div>

    <div class="ribbon pure-g-r">
        
<!-- 
            <h2 style="padding-top:1em" class="is-center content-head content-head-ribbon">Portfólio.</h2>

            <p class="is-center">
                Segue algumas telas de projetos já desenvolvidos.
            </p> -->
        
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="assets/img/port1.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="assets/img/port1.png">
        </div>                
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="assets/img/port1.png">
        </div>                        
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>